<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hackaton</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
            color: #fff;
            background-color: #220f31;
        }

        form {
            display: inline-block;
        }
    </style>
</head>
<body class="text-center">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <h1 class="masthead-brand">Kazan AI core</h1>
    </header>

    <p>Вставьте текст для обработки!</p>

        <form class="" id="upload-form" action="{{ url_for('csv_upload') }}" method="POST">
            <div class="form-group">
                <input class="" id="file-picker"  type="text" name="text">
                <input class="" type="submit" value="Загрузить!" id="upload-button">
            </div>
        </form>

</div>
</body>
</html>